{% extends 'base.html.twig' %}

{% block body %}
  <h1 class="page-header">Nos projets</h1>

  <div class="row">
    {% for entity in entities %}
      <div class="col-md-3">
        <div class="thumbnail">
          <a href="{{ path('project_show', { id: entity.id }) }}">
            <img data-src="holder.js/100%x200" alt="100%x200">
          </a>
          <div class="caption">
            <h3>
              <a href="{{ path('project_show', { id: entity.id }) }}">{{ entity.title|truncate(15) }}</a>
            </h3>

            <div class="row">
              <div class="col-md-7">
                <small>Par {{ entity.owner.username }}</small>
              </div>
              <div class="col-md-5 text-right">
                <small><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> {{ random(['Jeu', 'Musique', 'Vidéo', 'Livre', 'Caritatif']) }}</small>
              </div>
            </div>

            <hr style="margin:0">

            <div class="row">
              <div class="col-md-6">
                <small><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> {{ entity.fundColl|currency }}</small>
              </div>
              <div class="col-md-6 text-right">

                <small><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{ random(50) }}</small>
                <small><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> {{ count_down(entity) }}</small>
              </div>
            </div>

          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
